<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 50px;">
    <img src="/tigers/emblem.jpg" height="300">
    <button onclick = "location.href='/create/'">추가</button>
    <hr>
    <table>
        <tr>
            <th>ID</th>
            <th>선수명</th>
            <th>사진</th>
            <th>백넘버</th>
            <th>&nbsp;포지션&nbsp;</th>
            <th>수정/삭제</th>
        </tr>
        <% for(let row of rows) } %>
            <tr>
                <td><%= row.id %></td>
                <td><%= row.player %></td>
                <td><img src="/tigers/<%= row.player %>.jpg" height="48"></td>
                <td><%= row.backNo %></td>
                <td><%= row.position %></td>
                <td>
                    <a href="/update?id=<%= row.id %>"><i class=:"fa-regular fa-pen-to-square"></i></a>&nbsp;
                    <a href="/delete?=id<%= row.id %>"><i class="fa-solid fa-user-minus"></i></a>
                </td>
            </tr>
        <% } %>
    </table>    
</body>
</html>